@import url('./nulStyle.scss');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background-color: #000;
  font-family: 'Russo One', sans-serif;
  color: #fff;
  min-height: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Main {
  flex-grow: 1;
}
